body {
    background-color: #0a0f16;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes Appearance {
    0% {
        transform: translateX(-150%);
    }

    15% {
        transform: translateX(5%);
    }

    30% {
        transform: translateX(-5%);
    }

    45% {
        transform: translateX(3%);
    }

    60% {
        transform: translateX(-3%);
    }

    75% {
        transform: translateX(1%);
    }

    85% {
        transform: translateX(-1%);
    }

    100% {
        transform: translateX(0);
    }
}

.gif-webframe-anim {
    animation: Appearance 0.5s forwards;
}

@keyframes PlayPauseAppearance {
    0% {
        transform: translateY(-150%);
    }

    15% {
        transform: translateY(5%);
    }

    30% {
        transform: translateY(-5%);
    }

    45% {
        transform: translateY(3%);
    }

    60% {
        transform: translateY(-3%);
    }

    75% {
        transform: translateY(1%);
    }

    85% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(0);
    }
}

.text-play-pause-amimation {
    animation: PlayPauseAppearance 0.5s linear;
}

@media screen and (min-width: 769px) {

    div.gif-animation-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    div.paused-water-icon-wrapper {
        margin: auto;
        position: absolute;
    }

    div.play-water-text {
        right: 15px;
        top: 60px;
        width: 20px;
        position: absolute;
    }

    div.pause-water-text {
        right: 11px;
        top: 65px;
        width: 30px;
        position: absolute;
    }

    img.logo-designed-wrapper {
        display: table;
        clear: both;
        position: absolute;
    }

    img.muteit-logo {
        top: 0;
        left: 0;
        width: 20%;
        height: auto;
        margin: 2.5%;
        position: absolute;
    }

    img.designed-by-unicorn-witnesses {
        top: 0;
        right: 0;
        width: 17%;
        height: auto;
        margin: 3%;
        position: absolute;
    }

    img.first-call-to-action {
        height: 15vh;
        width: 100%;

        position: absolute;
        bottom: 0;
    }

}

@media screen and (max-width: 991px) {

    div.gif-animation-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 1300px;
    }

    div.paused-water-icon-wrapper {
        margin: auto;
        position: absolute;
        width: 20px;
    }

    div.play-water-text {
        right: 5px;
        top: 40px;
        width: 20px;
        position: absolute;
    }

    div.pause-water-text {
        right: 5px;
        top: 42px;
        width: 30px;
        position: absolute;
    }

    img.logo-designed-wrapper {
        display: table;
        clear: both;
        position: absolute;
    }

    img.muteit-logo {
        top: 0;
        left: 0;
        width: 30%;
        height: auto;
        margin: 2.5%;
        position: absolute;
    }

    img.designed-by-unicorn-witnesses {
        top: 0;
        right: 0;
        width: 30%;
        height: auto;
        margin: 3%;
        position: absolute;
    }

    img.first-call-to-action {
        height: 15vh;
        width: 100%;

        position: absolute;
        bottom: 0;
    }

}

@media screen and (max-width: 767px) {

    div.gif-animation-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 900px;
    }

    div.paused-water-icon-wrapper {
        margin: auto;
        position: absolute;
        width: 20px;
    }

    div.play-water-text {
        right: 5px;
        top: 40px;
        width: 20px;
        position: absolute;
    }

    div.pause-water-text {
        right: 5px;
        top: 42px;
        width: 30px;
        position: absolute;
    }

    img.logo-designed-wrapper {
        display: table;
        clear: both;
        position: absolute;
    }

    img.muteit-logo {
        top: 0;
        left: 0;
        width: 40%;
        height: auto;
        margin: 2.5%;
        position: absolute;
    }

    img.designed-by-unicorn-witnesses {
        top: 0;
        right: 0;
        width: 40%;
        height: auto;
        margin: 3%;
        position: absolute;
    }

    img.first-call-to-action {
        height: 20vh;
        width: 100%;

        position: absolute;
        bottom: 0;
    }

}

@media screen and (max-width: 479px) {

    div.gif-animation-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 900px;
    }

    div.paused-water-icon-wrapper {
        margin: auto;
        position: absolute;
        width: 15px;
    }

    div.play-water-text {
        right: 5px;
        top: 40px;
        width: 20px;
        position: absolute;
    }

    div.pause-water-text {
        right: 8px;
        top: 42px;
        width: 30px;
        position: absolute;
    }

    img.logo-designed-wrapper {
        display: table;
        clear: both;
        position: absolute;
    }

    img.muteit-logo {
        top: 0;
        left: 0;
        width: 37%;
        height: auto;
        margin: 2.5%;
        position: absolute;
    }

    img.designed-by-unicorn-witnesses {
        top: 0;
        right: 0;
        width: 37%;
        height: auto;
        margin: 3%;
        position: absolute;
    }

    img.first-call-to-action {
        height: 20vh;
        width: 100%;

        position: absolute;
        bottom: 0;
    }

}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #433e4ac9;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #201545;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }